.venv
tests/__pycache__/*
notes.txt
.pytest_cache/
*/__pycache__/*
/.claude
candy_crush/__pycache__/*
models/
.vscode/
scripts/__pycache__/*
scripts/
vision/screenshots/
vision/cells
vision/templates
vision/levels